
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #362a2a;
    color: #f5b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 380px;
  }

 .container {
text-align: center;
padding: 20px;
background-color: #362a2a;
}

.logo {
    width: 50px;
    height: 50px;
    background: url('icons/icon48.png') center/contain no-repeat;
    margin: -10px auto 10px;
  }
  
.title{
    display: flex;
    align-items: column;
    justify-content: center;
    margin-bottom: 20px;
}
.logo {
width: 48px;
height: 48px;
}

h1 {
color: #f2908f;
margin-bottom: 20px;
}

button {
padding: 10px 20px;
font-size: 14px;
background-color: #f2908f;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #f2908f;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #f2908f;
    font-size: 14px;
    display: block;
    padding: 5px 0;
}

nav ul li a:hover {
    text-decoration: underline;
}


#status {
margin-top: 20px;
color: #201b1b;
}

footer {
    margin-top: 15px;
    font-size: 12px;
    color: #a98291;
  }


